# Pinecone
VITE_PINECONE_API_KEY=
VITE_PINECONE_ENVIRONMENT=us-east-1-aws
VITE_PINECONE_INDEX=video-image-recognition-example
VITE_PINECONE_PROJECT_ID=
VITE_PINECONE_NAMESPACE="highway-surveillance"

# Other
VITE_PINECONE_DATA_DIR_PATH=./data
VITE_PINECONE_OUTPUT_DIR_PATH=./output

# AWS
VITE_AWS_REGION=us-west-2
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
VITE_AWS_S3_BUCKET="video-streaming-images"

# Redis
REDIS_HOST=redis-master
REDIS_PORT=6379
